<main class="contenedor">
    <form action="/account-forgot-password" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Tu Email">
        </div>
        <div class="campo acciones">
            <a href="/account-create">Crea una cuenta</a>
            <a href="/account-login">Volver a Iniciar Sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer Password" class="btn btn-azul">
        </div>
    </form>
</main>