<main class="lista-candidatos">
    <h2>Lista de Candidatos</h2>
    {{#if candidates}}
        {{#each candidates}}
            <div class="candidato">
                <div class="caja">
                    <p class="etiqueta">Nombre</p>
                    <p class="name">{{name}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Email</p>
                    <p class="name">{{email}}</p>
                </div>
                <div class="caja">
                    <a href="/uploads/cv/{{cv}}" target="_blank" class="btn btn-verde">Ver CV</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No hay candidatos aún.</p>
    {{/if}}
</main>